## What are dataframes 

* How dataframes are created explanation using dictionaries

In [1]:
import pandas as pd

In [59]:
# Basic python dictionary
dogs = {
    'name':['Goldy','Snow','Jack','Tomm','Hero','Zed','Ozzy'],
    'breed':['Retriver','Huskey','Shepard','Symoid','Labrador','Dalmation','Shepard'],
    'color':['Golden','White/Black','Brown','White','Black','White/Black','Brown'],
    'age':[6,7,12,2,6,10,3],
    'owner_email':['goldy1@email.com','snow1@email.com','jack1@email.com','tomm1@email.com','hero1@email.com','zed1@email.com','ozzy1@gmail.com']
}

In [50]:
dogs

{'name': ['Goldy', 'Snow', 'Jack', 'Tomm', 'Hero', 'Zed', 'Ozzy'],
 'breed': ['Retriver',
  'Huskey',
  'Shepard',
  'Symoid',
  'Labrador',
  'Dalmation',
  'Huskey'],
 'color': ['Golden',
  'White/Black',
  'Brown',
  'White',
  'Black',
  'White/Black',
  'Brown'],
 'age': [6, 7, 12, 2, 6, 10, 3],
 'owner_email': ['goldy1@email.com',
  'snow1@email.com',
  'jack1@email.com',
  'tomm1@email.com',
  'hero1@email.com',
  'zed1@email.com',
  'ozzy1@gmail.com']}

In [4]:
dogs['owner_email'][3]

'tomm1@email.com'

#### Converting a Dict to a  pandas DataFrame

In [60]:
# Convert to a DF
df = pd.DataFrame(dogs)
df

    name      breed        color  age       owner_email
0  Goldy   Retriver       Golden    6  goldy1@email.com
1   Snow     Huskey  White/Black    7   snow1@email.com
2   Jack    Shepard        Brown   12   jack1@email.com
3   Tomm     Symoid        White    2   tomm1@email.com
4   Hero   Labrador        Black    6   hero1@email.com
5    Zed  Dalmation  White/Black   10    zed1@email.com
6   Ozzy    Shepard        Brown    3   ozzy1@gmail.com

* A pandas series is basically a table column
* A Dataframe is a collection of multiple series

In [6]:
# Types
print(type(df))

print(type(df['name']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [7]:
# Get info about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
name           6 non-null object
breed          6 non-null object
color          6 non-null object
age            6 non-null int64
owner_email    6 non-null object
dtypes: int64(1), object(4)
memory usage: 368.0+ bytes

#### Accessing specific values in a Data Frame

In [8]:
# Accessing values of a column

# Both methods work but top method is recommended
# Sometimes column name may be same as pandas attribute
# this may result in errors

df['breed']

# df.breed

0     Retriver
1       Huskey
2      Shepard
3       Symoid
4     Labrador
5    Dalmation
Name: breed, dtype: object

In [9]:
# Accessing multiple columns

# use double square brackets

df[['breed','color']]

       breed        color
0   Retriver       Golden
1     Huskey  White/Black
2    Shepard        Brwon
3     Symoid        White
4   Labrador        Black
5  Dalmation  White/Black

In [10]:
# Get all columns and details
df.columns

Index(['name', 'breed', 'color', 'age', 'owner_email'], dtype='object')

In [11]:
# Accessing Rows

# iloc = int location

# syntax
# {df_name}.iloc[index]
df.iloc[0]

name                      Goldy
breed                  Retriver
color                    Golden
age                           6
owner_email    goldy1@email.com
Name: 0, dtype: object

In [12]:
# multiple rows using iloc 
df.iloc[[2,4]]

   name     breed  color  age      owner_email
2  Jack   Shepard  Brwon   12  jack1@email.com
4  Hero  Labrador  Black    6  hero1@email.com

In [13]:
# Get multiple rows and column

# {dataframe_name}.iloc[[row_index],[column_index]]
df.iloc[[0,2,1],[2,0,4]]

         color   name       owner_email
0       Golden  Goldy  goldy1@email.com
2        Brwon   Jack   jack1@email.com
1  White/Black   Snow   snow1@email.com

In [14]:
# Accessing rows with loc
# label location

df.loc[1]

name                      Snow
breed                   Huskey
color              White/Black
age                          7
owner_email    snow1@email.com
Name: 1, dtype: object

In [15]:

df.loc[[3,2,1,0],['name','breed']]

# Thiese two are same

# df.iloc[[3,2,1,0],[0,1]]

    name     breed
3   Tomm    Symoid
2   Jack   Shepard
1   Snow    Huskey
0  Goldy  Retriver

## Index 
* Indexing in pandas

In [16]:
df

    name      breed        color  age       owner_email
0  Goldy   Retriver       Golden    6  goldy1@email.com
1   Snow     Huskey  White/Black    7   snow1@email.com
2   Jack    Shepard        Brwon   12   jack1@email.com
3   Tomm     Symoid        White    2   tomm1@email.com
4   Hero   Labrador        Black    6   hero1@email.com
5    Zed  Dalmation  White/Black   10    zed1@email.com

In [17]:
# temporary
df.set_index('owner_email')

                   name      breed        color  age
owner_email
goldy1@email.com  Goldy   Retriver       Golden    6
snow1@email.com    Snow     Huskey  White/Black    7
jack1@email.com    Jack    Shepard        Brwon   12
tomm1@email.com    Tomm     Symoid        White    2
hero1@email.com    Hero   Labrador        Black    6
zed1@email.com      Zed  Dalmation  White/Black   10

In [18]:
df

    name      breed        color  age       owner_email
0  Goldy   Retriver       Golden    6  goldy1@email.com
1   Snow     Huskey  White/Black    7   snow1@email.com
2   Jack    Shepard        Brwon   12   jack1@email.com
3   Tomm     Symoid        White    2   tomm1@email.com
4   Hero   Labrador        Black    6   hero1@email.com
5    Zed  Dalmation  White/Black   10    zed1@email.com

In [23]:
# permenent
df.set_index('owner_email', inplace=True)
df

                   name      breed        color  age
owner_email
goldy1@email.com  Goldy   Retriver       Golden    6
snow1@email.com    Snow     Huskey  White/Black    7
jack1@email.com    Jack    Shepard        Brwon   12
tomm1@email.com    Tomm     Symoid        White    2
hero1@email.com    Hero   Labrador        Black    6
zed1@email.com      Zed  Dalmation  White/Black   10

In [20]:
df.index

Index(['goldy1@email.com', 'snow1@email.com', 'jack1@email.com',
       'tomm1@email.com', 'hero1@email.com', 'zed1@email.com'],
      dtype='object', name='owner_email')

In [24]:
df.loc[['jack1@email.com','hero1@email.com'],['breed','color']]

                    breed  color
owner_email
jack1@email.com   Shepard  Brwon
hero1@email.com  Labrador  Black

In [35]:
# Reset index
df.reset_index(inplace=True)
df

ValueError: cannot insert level_0, already exists

### Using conditionals to filter rows and columns

In [37]:
# Used Data Frame 
df

    name      breed        color  age       owner_email
0  Goldy   Retriver       Golden    6  goldy1@email.com
1   Snow     Huskey  White/Black    7   snow1@email.com
2   Jack    Shepard        Brwon   12   jack1@email.com
3   Tomm     Symoid        White    2   tomm1@email.com
4   Hero   Labrador        Black    6   hero1@email.com
5    Zed  Dalmation  White/Black   10    zed1@email.com

In [61]:
# using conditionals example
# Filter mask
get_breed = (df['breed'] == 'Shepard')
# mask
get_breed

0    False
1    False
2     True
3    False
4    False
5    False
6     True
Name: breed, dtype: bool

In [39]:
df['age'] > 6

0    False
1     True
2     True
3    False
4    False
5     True
Name: age, dtype: bool

In [62]:
# get values of that filter mask

df[get_breed]

# This also work

# df[df['color'] == 'Brown']

   name    breed  color  age      owner_email
2  Jack  Shepard  Brown   12  jack1@email.com
6  Ozzy  Shepard  Brown    3  ozzy1@gmail.com

In [71]:
# Better way

df.loc[get_breed, ['owner_email','name']]

       owner_email  name
2  jack1@email.com  Jack
6  ozzy1@gmail.com  Ozzy

In [ ]:
#  & = AND
#  | = OR

In [78]:
get_req = ((df['breed'] == 'Shepard') & (df['name'] == 'Jack'))

# df[get_req]
df.loc[get_req]

   name    breed  color  age      owner_email
2  Jack  Shepard  Brown   12  jack1@email.com

In [80]:
get_req = (df['breed'] == 'Shepard')

# df[get_req]
df.loc[~get_req]

    name      breed        color  age       owner_email
0  Goldy   Retriver       Golden    6  goldy1@email.com
1   Snow     Huskey  White/Black    7   snow1@email.com
3   Tomm     Symoid        White    2   tomm1@email.com
4   Hero   Labrador        Black    6   hero1@email.com
5    Zed  Dalmation  White/Black   10    zed1@email.com